tr, td, th, table {
    border: 1px solid red;
    border-radius: 15px;
    border-spacing: 0px;
}

/* Je séléctionne tout les td qui on 
le paramètre colspan=2 dans leur balise*/
tr td[colspan="2"] {
    text-align:center;
}

/* Je choisi le troisième enfant de tr */
tr:nth-child(3) {
    background-color: brown;
}

.bonjour tr td{
    background-color: aquamarine;
}
/* Je modife le curseur que  
quand la souris passe par dessu */
#animal:hover {
    cursor: pointer;
}
/* Je séléctionne tout les input de 
type submit et de type reset*/
input[type="submit"], input[type="reset"] {
    font-size: 1.7em;
    border-radius: 25%;
}

#message {
    resize: none;
}