/* Je prend toute les balises tr puis td puis th et table et je leur donne des propriétés */
tr, td, th, table {
    border: 1px solid red;
    border-radius: 15px;
    border-spacing: 0px;
}

/* Je séléctionne tout les td qui on 
le paramètre colspan=2 dans leur balise*/
tr td[colspan="2"] {
    text-align:center;
}

/* Je choisi le troisième enfant de tr */
tr:nth-child(3) {
    background-color: brown;
}

/* */
.bonjour tr td{
    background-color: aquamarine;
}

/* Je modife le curseur que  
quand la souris passe par dessu */
#animal:hover {
    cursor: pointer;
}

/* Je séléctionne tout les input de 
type submit et de type reset*/
input[type="submit"][value="Submit"], input[type="reset"] {
    font-size: 1.7em;
    border-radius: 25%;
}

#message {
    resize: none;
    /*Je retire la possibilité de pouvoir redéfinir la taille du textearea*/
}

/* Je créer un animation qui ce nomme animationimg au début elle va transform scaleX en -1
puis elle va transform scaleX en 1 et à la fin elle va transform scaleX en -1 */
@keyframes animationimg {
    0% {
        left: 0%;
        transform: scaleX(-1);
        width: 50%;
    }
    50% {
        left: 75px;
        transform: scaleX(1);
        width: 25%;
    }
    100% {
        left: 0%;
        transform: scaleX(-1);
        width: 50%;
    }
}


img {
    position: relative;
    border: 3px dashed gray;
    border-radius: 25px; 
    opacity: 0.6; 
    width: 50%;
    /* height:auto; max-width: 100%;  Je ren mon image recurcive/Responsive*/
    filter: blur(0.5px); /* Je donne un effet de flou */
    animation: animationimg 1.5s ease-in infinite ;
    /* Je dit que l'élément img joue l'animation animationimg qu'elle doit durée 1.5s en 
    fonctionnement en ease-in et elle ce joue un nombre infini de fois */
}

img:hover {
    transform: scaleX(-1);
}

.test {
    color: blue;
}
