body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 93.5%;
    top: 0; right: 0; left: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    width: 25%;
}

nav div {
    display: flex;
    align-items: center;
}
span {
    margin-left: 5px;
}
box-icon[name='menu'], box-icon[name='x'] {
    display: none;
}

@media screen and (max-width: 950px) {
    nav ul {
        display: none;
    }
    box-icon[name='menu'] {
        display: contents;
    }
}

.SwitchNav {
    background-color: #000D1A;
    bottom: 0;
}
.SwitchNav div box-icon, .SwitchNav span {
    display: none;
}

.SwitchNav box-icon[name='x'] {
    position: absolute;
    top: 25px;
    right: 25px;
    display: block;
}


.SwitchNav ul {
    margin: 0 auto 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.SwitchNav ul li {
    margin: 15px 0;
    font-size: 1.4em;
}